[submodule "benchmark/third_party/benchmark"]
	path = benchmark/third_party/benchmark
	url = https://github.com/google/benchmark
[submodule "benchmark/third_party/entt"]
	path = benchmark/third_party/entt
	url = https://github.com/skypjack/entt
